---
---
:root {
  color-scheme: light dark;
}

@import "{{ site.theme }}";
body {
  
  color: light-dark(#333b3c, #999);
  background-color: light-dark(#008080, #000);
  display: flex;
  padding-top:20px;
  overflow-x:hidden;
  overflow-y: scroll;

}
div.wrapper, #content, .status {
  min-height:50vh;
  //min-width:40vw;
  max-width:min(100%,82vw);
  border: 1px solid #000000;
  box-shadow: 5px 5px 0px 0px #111;
  background-color: light-dark(#ffffff, #222);
  position:inherit;

  place-self:center;
  padding:5px;
}
.status {
  min-height:5vh;
  margin:10px;
}
div#bottom {
  bottom: 0;
  padding-top:20px;
}
h1{
  font-size:4.5vw;
}
ul.homepage-list {
  font-size:4.5vw;
}

header, footer{
	position:absolute;
}
