---
---

@import "{{ site.theme }}";
body {
  background-color: #008080;
  display: grid;
  padding-top:20px;
  overflow-x:hidden;
}
div.wrapper, .content, .status {
  min-height:50vh;
  min-width:82vw;
  border: 1px solid #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  background-color: #ffffff;
  position:inherit;

  place-self:center;
  padding:5px;
}
.status {
  min-height:5vh;
  margin:10px;
}
div#bottom {
  bottom: 0;
  padding-top:20px;
}
h1{
  font-size:4.5vw;
}
ul.homepage-list {
  font-size:4.5vw;
}

header, footer{
	position:absolute;
}
